body {
    margin: 0px;
    font-family: "Mulish", sans-serif;
}

.header

{
    align-items: center;
    background-color: #21c08b;
    color: white;
    height: 100px;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;

}

.header__img
{
    margin-left: 30px;
    width: 200px;
}

.login
{
    background:linear-gradient(#21c08b,#ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container
{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form
{
    display: flex;
    flex-direction: column;
}
.login__container--form{
    font-size: 14px;
}
.login__container--remember
{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember a
{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.login__container--remember a:hover
{
    text-decoration: underline;
   
}

.login__container--social > div
{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social > div >img
{
   width: 30px;
   margin-right: 10px;
}

.login__container--registro
{
    font-size: 14px;
}

.login__container--registro a
{
    text-decoration: none;
        font-size: 16px;
    color: white;
    font-weight: bold;
    margin: 10px;
}

.login__container--registro a:hover
{
    text-decoration: underline;
}

.input
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    margin-bottom: 20px;
    padding: 0px 2px;
    outline: none; 
}

::placeholder
{
    color: white;
}

.button
{
    border: none ;
    background-color: rgba(255,255,255,0.1  );
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.footer
{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background:#ab88ff;
    

}

.footer a 
{
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
}

.footer a:hover
{
    text-decoration: underline;
}
.recuerdame
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------media queries------------- */

@media screen and (max-width:600px)
{
    .login__container
    {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }
    .footer
    {
        align-items: flex-start;
        flex-direction: column;
    }

}

